<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/select.css">
    <title>Choose GPU</title>
</head>
<body>
    <div class="heading">
        <h1>Choose GPU</h1>
    </div>
    <div class="search-box">
        <input type="text" id="search" name="search" placeholder="Search Component">
        <input type="button" id="search-exec"  value="search" onclick="filter()">
    </div>
    <% gpu.videoCard.forEach(element => {%>
        <% if(element.core_clock != undefined && element.vram.total >= 4000000000 && element.core_clock.cycles >= 1392000000 && !element.chipset.includes("Quadro") && !element.chipset.includes("Titan")){ %>
            <div class="listing">
                <li><a href="gpu/<%= element.brand %> <%= element.chipset %>/coolers"><%= element.brand %> <%= element.chipset %></a></li>
                <% if(element.price[1]!="0.00"){ %>
                    <p class="price">₹<%= Math.round(Math.round(parseFloat(element.price[1])*74.3)) %> </p>
                <% }else{ %>
                    <p class="price">Price: NA</p>
                <% } %>
                <p class="details">VRAM: <%= element.vram.total/1000000000 %> GB</p>
            </div>
    <% }}); %>
</body>
<script src="/images/search.js"></script>
</html>