<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/select.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Motherboard</title>
</head>
<body>
        <div class="heading">
            <h1>Choose a Motherboard</h1>
        </div>
        <div class="search-box">
            <input type="text" id="search" name="search" placeholder="Search Component">
            <input type="button" id="search-exec"  value="search" onclick="filter()">
        </div>
        <% mbds.motherboard.forEach(element => { %>
            <% if(selcpu.includes("Core i7-8") || selcpu.includes("Core i5-8") || selcpu.includes("Core i3-8") || selcpu.includes("Core i7-9") || selcpu.includes("Core i5-9") || selcpu.includes("Core i3-9") || selcpu.includes("Core i9-9")){ %>
                <% if(element.socket=="LGA1151"  && !element.model.includes("/")){ %>
                    <div class="listing"> 
                        <li><a href="motherboards/<%= element.brand%> <%= element.model %>/gpu"><%= element.brand %> <%= element.model %></a></li>
                        <% if(element.price[1]!="0.00"){ %>
                            <p class="price">₹<%= Math.round(Math.round(parseFloat(element.price[1])*74.3)) %> </p>
                        <% }else{ %>
                            <p class="price">Price NA</p>
                        <% } %>
                        <p class="details">Socket: <%= element.socket %> , RAM slots: <%= element.ram_slots %>, Maximum RAM: <%= element.max_ram.total/1000000000 %> GB, Colour: <%= element.color %> </p>
                    </div>
            <% }}}); %>

            <% mbds.motherboard.forEach(element => { %>
                <% if(selcpu.includes("Core i7-10") || selcpu.includes("Core i5-10") || selcpu.includes("Core i9-10") ){ %>
                    <% if(element.socket=="LGA1200"  && !element.model.includes("/")){ %>
                        <div class="listing"> 
                            <li><a href="motherboards/<%= element.brand%> <%= element.model %>/gpu"><%= element.brand %> <%= element.model %></a></li>
                            <% if(element.price[1]!="0.00"){ %>
                                <p class="price">₹<%= Math.round(Math.round(parseFloat(element.price[1])*74.3)) %> </p>
                            <% }else{ %>
                                <p class="price">Price NA</p>
                            <% } %>
                            <p class="details">Socket: <%= element.socket %> , RAM slots: <%= element.ram_slots %>, Maximum RAM: <%= element.max_ram.total/1000000000 %> GB, Colour: <%= element.color %> </p>
                        </div>
                <% }}}); %>
</body>
<script src="/images/search.js"></script>
</html>