<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/select.css">
    <title>Choose AMD cpu</title>
</head>
<body>
    <div class="heading">
        <h1>Choose a CPU:</h1>
    </div>
    <div class="search-box">
        <input type="text" id="search" name="search" placeholder="Search Component">
        <input type="button" id="search-exec"  value="search" onclick="filter()">
    </div>
        <% cpus.cpu.forEach(element => { %>
            <% if(element.brand=="AMD" && element.cores>=6 && element.multithreading==true && element.tdp<=105 && !element.model.includes('nm')){ %>
                <div class="listing">
                    <li><a href="/amd/cpu/<%= element.brand %> <%= element.model %>/motherboards"><%= element.brand %> <%= element.model %></a></li>
                    <% if(element.price[1]!="0.00"){ %>
                        <p class="price">₹<%= Math.round(Math.round(parseFloat(element.price[1])*74.3)) %> </p>
                    <% }else{ %>
                        <p class="price">Price NA</p>
                    <% } %>
                    <p class="details">Cores: <%= element.cores%>, Multithreading: <%= element.multithreading %>, TDP: <%= element.tdp %> watts</p>
                </div>
        <% }}); %> 
</body>
<script src="/images/search.js"></script>
</html>